@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar */
.sticky-nav {
  @apply fixed top-0 left-0 w-full shadow-md z-20;
}

ul {
  list-style-type: none;
}
body {
  background: rgba(250, 250, 250, 0.18);
  scroll-behavior: smooth;
}
.lobster {
  font-family: Lobster, cursive;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0,
    75% 84%,
    from(#be9e57),
    to(#be9e57),
    color-stop(0.6, #be9e57)
  );
}
input::-webkit-calendar-picker-indicator {
  display: none;
}
input[type="date"]::-webkit-input-placeholder {
  visibility: hidden !important;
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}
#main {
  height: 100vh;
  width: 100%;
  z-index: 0;
  /* overflow-x: hidden; */
}
#preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99999;
}
.loading {
  font-weight: 700;
  font-size: 64px;
  line-height: 68px;
  margin-bottom: 41px;
}
.loading span {
  display: inline-block;
  margin: 0 -0.05em;
  letter-spacing: 17px;
}
#showLess,
.slick-dots li button,
.sticky .logo {
  display: none;
}

.sticky a:hover::after,
nav a:hover::after {
  width: 15px;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border-radius: 5px;
  position: absolute;
  height: 3px;
  content: "";
}
.client_part .slick-initialized .slick-slide,
.loading,
nav .dropdown-menu #dropdown li a {
  text-align: center;
}
.homeNav {
  background: rgba(77, 77, 78, 0.26);
  position: absolute;
  left: 0;
  right: 0;
}
.destination_slider .slick-slide .popular_item {
  margin: 10px;
  padding: 3%;
}
.destination_slider .slick-slide > div {
  margin: 0px 10px;
  padding: 0 2%;
}
.destination_slider .popular_item .img,
.destination_slider .slider_item,
.popular_part .popular_item .img,
.top-destination .popular_item .img {
  overflow: hidden;
}
.destination_slider .popular_item .img,
.destination_slider .slider_item,
.popular_part .popular_item .img,
.top-destination .popular_item .img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.loading,
.sticky .nav_item .link:hover,
.sticky .nav_item a.active {
  color: #be9e57;
}
.nav_item a.active {
  color: #be9e57;
}
.delux_part .isotop .pagination li.active,
.delux_part .isotop .pagination li:hover {
  background: #151515;
  color: #fff;
  cursor: pointer;
}
#preloader,
.delux_part .isotop .pagination li:last-child:hover,
nav a:hover::after {
  background: #fff;
}
.loading01 span {
  animation: 1s infinite alternate loading01;
}
.loading01 span:first-child {
  animation-delay: 0s;
}
.loading01 span:nth-child(2) {
  animation-delay: 0.1s;
}
.loading01 span:nth-child(3) {
  animation-delay: 0.2s;
}
.loading01 span:nth-child(4) {
  animation-delay: 0.3s;
}
.loading01 span:nth-child(5) {
  animation-delay: 0.4s;
}
.loading01 span:nth-child(6) {
  animation-delay: 0.5s;
}
.loading01 span:nth-child(7) {
  animation-delay: 0.6s;
}
@keyframes loading01 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.sticky {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #fff !important;
  transition: 0.3s linear;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.sticky .logo.hidden {
  display: block;
}
.sticky .nav_item .link {
  color: rgba(15, 14, 14, 0.3);
}
.sticky .question .link {
  color: #0f0e0e;
}
.sticky .question .border {
  border-color: #0f0e0e;
}
nav #dropdown svg path {
  stroke: #be9e57;
}
.sticky a:hover::after {
  background: #be9e57;
}
.popular_item .button,
nav .dropdown-menu {
  cursor: pointer;
}
nav .dropdown-menu #dropdown {
  top: calc(100% - -1.5rem);
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(80px);
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}
.nav a {
  text-decoration: none;
}

.slick-dots {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.slick-dots li {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-right: 9px;
  transition: 0.3s;
  background: rgba(231, 231, 231, 0.75);
}
.slick-dots li:last-child {
  margin-right: 0;
}
.slick-dots li.slick-active {
  width: 30px;
  height: 9px;
  border-radius: 5px;
  background: #be9e57;
}

.bg_banner .nav {
  background: rgba(77, 77, 78, 0.26);
}
.bg_banner .slick-dots {
  margin-top: 120px;
}
.bg_banner .slick-dots li {
  background: rgba(255, 255, 255, 0.75);
}
.bg_banner .slick-dots li.slick-active,
.top-destination .slick-dots li.slick-active {
  background: #be9e57;
}
.top-destination .slick-dots {
  margin-top: 48px;
}
.top-destination .slick-dots li {
  background: rgba(224, 222, 222, 0.75);
}
.destination_slider .popular_item img,
.destination_slider .slider_item img,
.popular_part .popular_item .img img,
.top-destination .popular_item .img img {
  transition-duration: 4s;
}
.destination_slider .popular_item:hover img,
.destination_slider .slider_item:hover img,
.popular_part .popular_item:hover .img img,
.top-destination .popular_item:hover .img img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.destination_slider .slider_item .overlay {
  position: absolute;
  left: 0;
  bottom: -50%;
  transform: translateY(25%);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transform: translateY(25%);
  -moz-transform: translateY(25%);
  -ms-transform: translateY(25%);
  -o-transform: translateY(25%);
}
.destination_slider .slider_item:hover .overlay {
  position: absolute;
  bottom: 0;
  transition: 0.5s;
  transform: translateY(0%);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
}
.destination_slider .slick-dots {
  margin-top: 24px;
}

.client_part .slick-current .opacity-50 {
  opacity: 1 !important;
}
.client_part .slider-nav::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 29px;
  height: 21px;
  background: #be9e57;
  transform: rotate(-180deg) translateX(50%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.client_part .slider-single {
  margin: 40px auto;
}
.client_part .slider-single svg {
  font-size: 30px;
}
.client_part .slider-single svg path {
  fill: #be9e57;
}
.payment_part .payment_slider .slick-track {
  display: flex;
  align-items: center;
}
.payment_part .payment_slider .payment_item {
  display: flex;
  justify-content: center;
}
.payment_part .payment_slider .payment_item img {
  -webkit-filter: contrast(0);
}
.payment_part .payment_slider .payment_item.slick-current img {
  -webkit-filter: contrast(1);
  animation: 0.9s forwards moveit;
  will-change: transform;
}
.footer .footer_bottom_part .footer_bottom_item .icon,
.footer .social_part .social_item {
  justify-content: center;
}
.footer .social_part .social_item svg path {
  stroke: #fff;
}
#loadMore {
  color: green;
  cursor: pointer;
}
#loadMore:hover,
#showLess:hover {
  color: #000;
}
#showLess {
  color: red;
  cursor: pointer;
}
.contact_part,
.contact_part .map,
.hotel_banner .grid .col-span-12,
.ui-slider {
  position: relative;
}
.hotel_banner button.arrows {
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.hotel_banner button.arrows.prev {
  left: 0;
}
.hotel_banner button.arrows.next {
  right: 0;
}
.hotel_banner .hotel_details_slider .hotel_slider_item img {
  width: 100%;
  height: 621px;
  object-fit: fill !important;
}
.hotel_banner .hotel_item .hotel_slider_item img {
  width: 100%;
  height: 196px;
  object-fit: cover !important;
}
.delux_part ul li::marker {
  color: #be9e57;
  font-size: 30px;
  line-height: 20px;
}
.isotop .button.is-checked {
  background: #055 !important;
  box-shadow: 0 0 14px rgba(8, 91, 216, 0.35) !important;
  color: #fff !important;
}
.isotop .button-box button {
  margin-top: 0;
}
.isotop .button-box {
  margin-bottom: 0;
}
.delux_part .event_part .events-item:nth-child(odd) {
  flex-direction: row-reverse !important;
}
.delux_part .isotop .pagination li:hover {
  transition: 0.4s ease-out;
  -webkit-transition: 0.4s ease-out;
  -moz-transition: 0.4s ease-out;
  -ms-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
}
#time-range p {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #055;
}
.ui-slider-horizontal {
  height: 3px;
  background: #dadada;
  border: 1px solid #bababa;
  box-shadow: 0 1px 0 #fff, 0 1px 0 #cfcfcf inset;
  clear: both;
  margin: 8px 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.ui-slider {
  text-align: left;
}
.ui-slider-horizontal .ui-slider-range {
  top: -1px;
  height: 100%;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  height: 3px;
  font-size: 0.7em;
  display: block;
  border: 1px solid #be9e57;
  box-shadow: 0 1px 0 #be9e57 inset;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==")
    0 0/100% #0f0e0e;
  background-image: -webkit-gradient(
    linear,
    50% 0,
    50% 100%,
    color-stop(0, #a0d4f5),
    color-stop(100%, #81b8f3)
  );
  background-image: -webkit-linear-gradient(top, #a0d4f5, #81b8f3);
  background-image: -moz-linear-gradient(top, #a0d4f5, #81b8f3);
  background-image: -o-linear-gradient(top, #a0d4f5, #81b8f3);
  background-image: linear-gradient(top, #a0d4f5, #81b8f3);
}
.ui-slider .ui-slider-handle {
  border-radius: 50%;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==")
    0 0/100% #f9fbfa;
  background-image: -webkit-gradient(
    linear,
    50% 0,
    50% 100%,
    color-stop(0, #c7ced6),
    color-stop(100%, #f9fbfa)
  );
  background-image: -webkit-linear-gradient(top, #c7ced6, #f9fbfa);
  background-image: -moz-linear-gradient(top, #c7ced6, #f9fbfa);
  background-image: -o-linear-gradient(top, #c7ced6, #f9fbfa);
  background-image: linear-gradient(top, #c7ced6, #f9fbfa);
  -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6),
    0 -1px 0 1px rgba(0, 0, 0, 0.15) inset,
    0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
  -moz-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6),
    0 -1px 0 1px rgba(0, 0, 0, 0.15) inset,
    0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6),
    0 -1px 0 1px rgba(0, 0, 0, 0.15) inset,
    0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  position: absolute;
  z-index: 2;
  border: none;
  cursor: pointer;
}
.ui-slider .ui-slider-handle:after {
  content: "";
  position: unset;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: 50%;
  margin-top: 4px;
  left: 50%;
  margin-left: 4px;
  background: #0f0e0e;
  -webkit-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #fff;
  -moz-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #fff;
  box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #fff;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -0.5em;
  margin-left: -0.6em;
}
.ui-slider a:focus {
  outline: 0;
}
#slider-range {
  width: 100%;
  margin: 0 auto;
}
.event_part .events-item .event-img {
  max-width: 416px;
  max-height: 413px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.event_part .events-item .event-img img {
  width: 100%;
  height: auto;
  object-fit: scale-down;
}
.contact_part .social {
  position: absolute;
  bottom: 30%;
  left: -3%;
  transform: translate(3%, -30%);
}
.contact_part .map .overlay {
  position: absolute;
  background: #be9e57;
  top: -8%;
  right: -8%;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 10px;
}
.additional_part .additional_item.hover .see_details svg,
.our_facilities .facilities .facilities_item,
.our_facilities .facilities .facilities_item iframe {
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}
.our_facilities .facilities .facilities_item:hover {
  -webkit-box-shadow: 3px 5px 25px 0 rgb(0 0 0 / 10%);
  box-shadow: 3px 5px 25px 0 rgb(0 0 0 / 10%);
}
.our_facilities .facilities .facilities_item:hover iframe {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}
.additional_part .additional_item.hover:hover {
  background: #fff;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}
.additional_part .additional_item.hover:hover .see_details svg {
  margin-left: 10px;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}
.additional_part .additional_item.hover:hover .see_details svg path {
  stroke: #be9e57;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}
.additional_part .additional_item.hover:hover .see_details,
.additional_part .additional_item.hover:hover h2 {
  color: #000;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}
.caleran-end,
.caleran-end span,
.caleran-start,
.caleran-start span {
  background: #055 !important;
}

/* react tabs */
.react-tabs .button.react-tabs__tab--selected {
  background: transparent;
  color: #fff;
}
/* react tabs */

@media (max-width: 600px) {
  .nav.bg005555 nav a {
    opacity: 1;
  }
  .bg_banner .nav.sticky .nav_icon path,
  .nav svg path {
    stroke: #fff;
  }
  .nav .mobile_drop svg path,
  .nav .share svg path {
    stroke: rgb(0, 0, 0);
  }
  nav .mob_nav {
    width: calc(100% - 1rem) !important;
    right: 0;
    top: auto !important;
  }
  nav .dropdown-menu #dropdown {
    top: calc(100% - -0.5rem);
  }
  .nav .share a {
    opacity: 1 !important;
  }
  nav a.active::after {
    height: 0;
  }
  .slider_item {
    width: 100%;
  }

  .destination_slider .slider_item .overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }
  .destination_slider .slider_item:hover .overlay {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
  .hotel_banner button.arrows.prev {
    left: 12px;
  }
  .hotel_banner button.arrows.next {
    right: 12px;
  }
  .hotel_banner button.arrows svg {
    width: 30px;
    height: 30px;
  }
  .hotel_banner .search_part .shadow-xl {
    position: unset;
    margin-top: 16px;
    box-shadow: 0 0 5px rgba(183, 177, 177, 0.2);
    padding: 20px 12px;
  }
  .hotel_banner .hotel_details_slider .hotel_slider_item img {
    width: 100% !important;
    height: 320px !important;
  }
  .hotel_banner .hotel_item .hotel_slider_item img {
    width: 100% !important;
    height: 64px !important;
  }
  .contact_part .social {
    position: fixed;
    top: 50%;
    left: 0;
    height: min-content;
    transform: translateY(-50%);
    background: #fff;
    padding: 10px;
    border-radius: 0 8px 8px 0;
    box-shadow: 0 0 5px rgba(206, 206, 206, 0.35);
    -webkit-transform: translateY(0, -50%);
    -moz-transform: translateY(0, -50%);
    -ms-transform: translateY(0, -50%);
    -o-transform: translateY(0, -50%);
  }
  .contact_part .map .overlay {
    top: -3%;
    right: -2%;
  }
  .visitors_part {
    background-position: inherit;
    background-size: cover;
  }
  .totop {
    left: calc(100% - 11%) !important;
    bottom: 90px !important;
  }
}
@media (max-width: 768px) {
  nav .mob_nav {
    width: calc(100% - 1rem) !important;
    right: 0;
    top: auto !important;
  }
  .nav svg path {
    stroke: #fff;
  }
  .nav .mobile_drop svg path {
    stroke: rgb(0, 0, 0);
  }

  .client_part .slider-nav::after {
    width: 7.98px;
    height: 5.78px;
  }
  .delux_part .content .case_study .title {
    font-size: 10px;
    line-height: 12px;
  }
  .delux_part .content .case_study .view_btn a {
    font-size: 7.44654px;
    line-height: 9px;
  }
  .delux_part .content .case_study .view_btn .dash {
    font-size: 6.51572px;
    line-height: 8px;
  }
  .details_banner .search_part {
    top: 0;
  }
  .hotel_banner .hotel_details_slider .hotel_slider_item img {
    width: 100%;
    height: 420px;
  }
  .hotel_banner .hotel_item .hotel_slider_item img {
    width: 100%;
    height: 115px;
  }
  .visitors_part {
    background-position: inherit;
    background-size: cover;
  }
  .delux_part .event_part .events-item:nth-child(2n) .event-img {
    order: 0;
  }
  .destination_part .destination_slider .slider_item {
    overflow-y: hidden;
    max-height: 400px;
  }
  .destination_slider .slick-slide .popular_item {
    margin: 0px;
    padding: 0%;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .destination_slider .hotel_banner .col-span-12.lg\:col-span-2,
  .hotel_banner .col-span-12.lg\:col-span-10 {
    grid-column: span 12 / span 12;
  }
}
@media (min-width: 992px) {
  .banner .container {
    max-width: 1079px;
  }
  .details_banner .search_part {
    max-width: 746px;
    margin: 0 auto;
    top: -7rem !important;
  }
  .details_banner .room_search {
    max-width: 1116px;
    margin: -6% auto 0;
  }
  .footer_bottom_part .footer_bottom_item .icon {
    background: #1e1e1e;
  }
  .tiny_footer li a:hover {
    color: #055;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
  }
  .hotel_banner .hotel_details_slider img {
    width: 100%;
  }
  .hotel_banner .search_part {
    top: -60px;
  }
  .hotel_banner .hotel_item .hotel_slider_item img {
    width: 100%;
    height: 196px;
    -o-object-fit: cover !important;
    object-fit: cover !important;
  }
}
@media (min-width: 1024px) and (max-width: 1050px) {
  .hotel_banner .col-span-12.lg\:col-span-2 {
    grid-column: span 4 / span 4;
  }
  .hotel_banner .col-span-12.lg\:col-span-10 {
    grid-column: span 8 / span 8;
  }
}
@media (min-width: 992px) and (max-width: 1050px) {
  .hotel_banner .col-span-12.lg\:col-span-2 {
    grid-column: span 4 / span 4;
  }
  .hotel_banner .col-span-12.lg\:col-span-2 .slick-list {
    height: 622px !important;
  }
  .hotel_banner .col-span-12.lg\:col-span-10 {
    grid-column: span 8 / span 8;
  }
  .hotel_banner .search_part {
    top: 0 !important;
  }
  .destination_part .destination_slider .slider_item {
    overflow-y: hidden;
    max-height: 500px;
  }
  .destination_part .destination_slider .slider_item img {
    height: 100%;
  }
}
@media (max-width: 1024px) {
  .hotel_item .hotel_slider_item.slick-slide img {
    padding: 10px;
    width: 100%;
    height: auto;
  }
}
